.verify-info {
  text-align: left;

  p {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}

.inline-buttons {
  display: grid;
  grid-column: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  ircc-cl-lib-button {
    display: inline-block;
  }
}
